
.dFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_container{
    @extend .dFlex;
    position: relative;
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    h1{
        position: absolute;
        margin-top: -70px;
        left: 0;
        top: 0;
        text-align: center;
        width: 80vw;
        opacity: 0.2;
        font-size: 9.5vw;
        color: green;
    }
    .card{
        width: 30%;
        border-radius: 15px;
        background: rgb(236, 236, 236);
        @extend .dFlex;
        flex-direction: column;
        padding: 5px;
        position: relative;
        transform: scale(.9);
        transition: all .3s ease-in-out;
        margin-bottom:50px ;
        .card_img{
            margin-top: -5vw;
            img{
                width: 200px;
            }
        }
        .card_header{
            @extend .dFlex;
            flex-direction: column;
            margin: 25px 0;
            h2{
            font-size: 20px;
            }
            p{
                font-size: 14px;
                text-align: center;
                margin: 8px 0;
            }
            .price{
                font-size: 18px;
                // color: aqua;
                span{
                    font-size: 15px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .btn{
                margin-top: 15px;
            }
            .btn:hover{
                background-color: green;
                color: white;
            }
        }
    }
    .card:hover{
        transform: scale(1);
        cursor: pointer;
    }
    .card:hover{
        
    }
}

.btn{
    border-radius: 30px;
    border: none;
    padding: 7px 20px;
    background: rgb(170, 233, 170);
    color: green;
    font-weight: bold;
}